@import "_normalize";
@import "_main";

/* ==========================================================================
   Basic Pages
   ========================================================================== */

#About-Page #TopBanner          { background: url(../img/vid-poster.jpg) top center; background-size: 100%; background-attachment: fixed; }
#Market-Update-Page #TopBanner  { background: url(../img/banner5.jpg) top center; background-size: 100%; background-attachment: fixed; }
#Buying-Home-Page #TopBanner    { background: url(../img/banner2.jpg) top center; background-size: 100%; background-attachment: fixed; }
#Selling-Home-Page #TopBanner   { background: url(../img/banner3.jpg) top center; background-size: 100%; background-attachment: fixed; }
#Investing-Page #TopBanner      { background: url(../img/banner4.jpg) top center; background-size: 100%; background-attachment: fixed; }
#Calculator-Page #TopBanner     { background: url(../img/banner4.jpg) top center; background-size: 100%; background-attachment: fixed; }

.basic-page {
    #TopBanner {
        width: 100%;
        display: black;
        overflow: hidden;
        height: 200px;
        position: relative;
        h1 {
            position: relative;
            color: @color-white;
            margin: 0;
            z-index: 100;
            text-align: center;
            margin-top: 60px;
            text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        }
    }
    .blind {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .read-more-wrapper {
        padding-bottom: 20px;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .read-more-switch {
        font-size: 90%;
        color: white;
        cursor: pointer;
        display: inline-block;
        margin: 10px 0 0 0;
        padding: 5px 10px 3px;
        background: @color-dark-gray;
        border-radius: 3px;
        .animate(all 0.2s ease-in-out);     
        &:hover {
            background: @color-brown;
        }
    }    
    #ContentBody, #About-Testimonials {
        .inner-wrapper {
            max-width: 1000px;
        }
        overflow-y: hidden;
        padding-top: 20px;
        padding-bottom: 70px;
        .left {
            overflow: hidden;
            width: 55%;
            padding-right: 60px;
            float: left;
        }
        .right {
            overflow: hidden;
            width: 45%;
            float: right;
        }    
        h2 {
            font-size: 250%;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 40px;
            font-size: 140%;
        }
        p {
            font-size: 125%;
        }    
        q {
            font-style: italic;
        }
        .btn-round {
            margin-right: 30px;
        }      
        .check-list {
            list-style: none;
            padding: 0 0 0 10px;
            > li {
                padding: 5px 0 5px 40px;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    overflow: hidden;
                    background: url(../img/sprite.png) -28px -458px no-repeat;
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    left: 7px;
                    top: 1px;
                }
                > ul {
                    padding: 5px 0 0px 20px;
                }
            }
        }  
    }
}

#About-Page {
    #ContentBody {
        background-color: lighten(@color-light-gray, 10%);
        padding: 30px 0px;
    }
    #About-Testimonials {
        padding: 0 0 30px 0;
    }
}

/* START - Simple Mortage Payment Calculator */

.smpc-div {
    input[type=text] {
      padding: 5px 5px 3px;
      border: none;
      color: #2e2e2e;
      background-color: #ebebeb;
      transition: all 200ms ease-in;
      border-bottom: 2px solid #ebebeb;
      border-radius: 3px;
    }
}

.smpc-error {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:#ca0000;
}

.smpc-monthlypayment {
    margin-top:25px;
    font-size:24px;
    color: @color-white;
    background-color: darken(@color-light-gray, 50%);
    padding: 10px 20px;
    border-radius: 3px;    
    text-align: center;
    strong {
        font-size: 120%;
    }
}

.smpc-friendlyreminder {
display:none;
}

/* END - Simple Mortage Payment Calculator */


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media screen and (max-width: 870px) {

    .basic-page {
        #TopBanner {
            background-size: cover !important;
        }
    }

}
