#ListingImageTemplate {
  display: none;
}
#EditListing #Dropzone-DefaultText {
  position: relative;
  top: 0;
  margin-top: 0;
  left: 0;
  margin-left: 0px;
}
#EditListing #Dropzone-DefaultText > span {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: block;
  min-height: 240px;
  padding: 80px 15px 0 15px;
}
