@import "components/_dropzone.less";
@import "components/_notification.less";
@import "components/_forms.less";
@import "views/_listing.new.less";
@import "views/_listing.edit.less";







.thumbnail {
  .status-forms {
    padding:9px;
  }
  padding-bottom: 55px;
  position:relative;
  .image-wrapper {
    clear:both;
    max-height: 230px;
    overflow: hidden;
  }
  img {
    width:100%;
    height: auto;
    margin:0;
    padding:9px;
  }
  .buttons {
    position: absolute;
    bottom: 0;  
  }
}




.typeahead-field
{
  box-sizing: border-box;
  width:100%;
  padding-right:60px;
  position: relative;
  button[type="submit"] {
    position:absolute;
    right:0;
    top:0;
  }
}
.checkbox {
  label {
    display:block;
  }
}
.col-md-4:nth-child(3n + 1) {
  clear:both;
}


#UploadedImages {
  img {
    width: 80px;
    height: 80px;
  }
}